
* {
    margin: 0;
    padding: 0;

    //font-family: "Comic Sans MS", "Comic Sans";
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
    font-size: 16px;
    line-height: 1.5;
}
h1 {
    font-size: 3rem;
}
p {
    font-size: 2rem;
}

@import "components/nav.scss";
@import "components/cta.scss";
@import "components/card.scss";

@import "utility/container.scss";
