html,body {
    height: 100%;
  }
  body{
    display: flex;
    flex-direction: column;
  }
  
  .footer {
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-color: $footer_color;
    color: $footer_text_color;
    margin-top: auto;
  }
  
  a {
    color: $footer_text_color;
  }