.navbar {
    min-height: 2.6rem;
    background-color: $text_color;

    font-size: 1.6rem;
}

.navbar-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: $breakpoint-md) {

    .navbar-inner, .nav{
        flex-direction: column;
    }
    
}

.nav {
    display: flex;
    list-style: none;
}

.nav-item {
    padding-left: 1rem;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
    color: lighten($color: $footer_text_color, $amount: 5)
}
