.card-container{
    display: grid;
    grid-template-columns: auto;
}

.card {
    background-color: rgb(255, 255, 255);
    margin: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    border-color: rgb(194, 194, 194);
}

.card-kommande {
  background-color: rgb(255, 255, 255);
    margin-top: 1rem;
    margin-right: 0.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    border-color: rgb(194, 194, 194);
  visibility: visible;

  @media screen and (max-width: 24rem) {
    visibility: hidden;
  }
}

h2 {
  font-size: 1rem;
  font-weight: 600;
}
.date {
  font-size: 0.6rem;
}

.card-img {
    width: 2.5rem;
    border-radius: 10rem;
    float: left;
    padding-bottom: 0.25rem;
}

.card-text {
  font-size: 0.7rem;
  padding-top: 0.25rem;
}