.card-container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.card {
    background-color: #f08080;
    margin: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    border-radius: 0.6rem;
}

.card > button {
    background-color: #8f4949;
    color: mintcream;
    border-style: solid;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border-radius: 0.4rem;
    border-color: #412222;
}

.card > button:hover {
    background-color: mintcream;
    color: #8f4949;
    border-color: #d6a7a7;
}

.card-img {
    width: 100%;
    border-radius: 0.6;
    border-style: solid;
    border-color: #8f4949;
}

@media screen and (max-width: 750px) {
    .card-container {
      grid-template-columns: auto auto;
    }
  }

  @media screen and (max-width: 500px) {
    .card-container {
      grid-template-columns: auto;
    }
  }